body {
    margin: 0;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.sidebar {
    width: 12%;
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px 20px;
    font-family: 'Pacifico', cursive;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.logo {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.nav a {
    display: block;
    color: #e0c4a4;
    text-decoration: none;
    margin: 15px 0;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav a:hover {
    color: white;
    text-decoration: underline;
}

.main-content {
    margin-left: 12%;
    width: 38%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.menu-categories {
    height: 100vh;
    background: url('./Menu.jpg') center/cover no-repeat;
    padding: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

.menu-categories h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.category-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}

.category-buttons button {
    width: 180px;
    padding: 10px;
    border: none;
    margin: 0 auto;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.category-buttons button.active,
.category-buttons button:hover {
    background-color: black;
    color: white;
}

.menu-details {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    background-color: #f7f7f7;
    padding: 40px;
}

.menu-img {
    width: 100%;
    height: auto;
    border: 3px solid #a78b65;
    margin-bottom: 20px;
}

.menu-details h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #c4a678;
    margin-bottom: 20px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
    margin-bottom: 20px;
}
.menu-list li {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px 0;
    border-bottom: 1px dotted #999;
}

.price {
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content, .menu-details {
        width: 100%;
        padding: 0 20px;
    }

    .container {
        flex-direction: column;
    }
}