body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.sidebar {
    width: 12%;
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px 20px;
    font-family: 'Pacifico', cursive;
    height: 100vh;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.nav a {
    display: block;
    color: #e0c4a4;
    text-decoration: none;
    margin: 15px 0;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav a:hover {
    color: white;
    text-decoration: underline;
}

.blog-sidebar h2,
.blog-sidebar h3  {
    margin-top: 30px;
    font-size: 20px;
    color: #d2b48c;
}

.categories li,
.popular-posts li {
    margin: 8px 0;
    list-style: none;
    font-weight: bold;
    color: white;
}

.search-box {
    display: flex;
    margin-top: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
}

.search-box button {
    background: #ccc;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.blog-content {
    width: 75%;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
}

.post img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.meta {
    color: #a9a9a9;
    font-size: 15px;
    margin-bottom: 10px;
}

.post h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}

.post {
    font-size: 20px;
    line-height: 1.6;
    color: #444;
}